<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{report_type}} {{ category}} Report {{month}}</title>
    <style>
        body { font-family: Arial, sans-serif; padding: 30px; }
        h2 { text-align: center; margin-bottom: 20px; }
        table { width: 100%; border-collapse: collapse; margin-top: 20px; }
        th, td { border: 1px solid #aaa; padding: 8px; text-align: center; }
        th { background-color: #f2f2f2; }
    </style>
</head>
<body>
    <h2>{{report_type}} {{category}} Report  {{month}}</h2>

    <table>
        <thead>
            <tr>
                <th>User Name</th>
                <th>Email</th>
                <th>Product</th>
                <th>Price</th>
                <th>Total Paid</th>
                <th>Due Amount</th>
                <th>Purchase Date</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.email }}</td>
                    <td>{{ item.product }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.paid }}</td>
                    <td>{{ item.due }}</td>
                    <td>{{ item.date }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
